
.balanceWrapper {
  display: grid;
  grid-template-columns: 4fr repeat(2, 2fr);

  gap: 0.5rem;
  padding: 0.75rem 0;
  margin-bottom: var(--space-lg);
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: var(--space-lg);
}

.chartBox,
.summaryBox {
  width: 100%;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .balanceWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-lg);
  }
}
